@charset "utf-8";
/* reset----------------------------------------------------------------------*/
body, div, th, td, p, ul, ol, dl, dt, dd, img, h1, h2, h3, h4, h5, h6,
footer, header, nav, section, span, figure {
	margin: 0;
	padding: 0;
	word-break: normal;
}
a {
	text-decoration: none;
}
/*------------------------------------------
    font
--------------------------------------------*/
@font-face {
  font-family: "Splatoon1";
  src: url("../font/Splatoon1.otf");
}
@font-face {
  font-family: "Splatoon2";
  src: url("../font/Splatoon2.otf");
}
@font-face {
  font-family: "newrodinpro";
  src: url("../font/nintendoP_NewRodin-B.ttf");
}
@font-face {
  font-family: "rowdy";
  src: url("../font/FOT-RowdyStd-EB.otf");
  unicode-range: U+4E00-9FFF;
}
@font-face {
  font-family: "kurokane";
  src: url("../font/FOT-KurokaneStd-EB.otf");
}
/*------------------------------------------
    animation
--------------------------------------------*/
@keyframes InkDrop {
0% {
  transform: translate3d(0,0,0);
  transition-timing-function: cubic-bezier(0,.5,.5,1);
}
100% {
	transform: translate3d(0,50px,0);
}
}
@keyframes InkDisappear {
0% {
  transform: translate3d(0,50px,0);
  opacity: 1;
  transition-timing-function: cubic-bezier(0,.5,.5,1);
}
100% {
	transform: translate3d(0,90px,0);
  opacity: 0;
}
}
@keyframes LRKeyDown {
0% {
  transform: scale(1,1);
}
25% {
  transform: scale(0.8,0.8);
}
100% {
  transform: scale(1,1);
}
}
@keyframes SwingItemLeft {
0% {
  transform: rotate(0);
  animation-timing-function: ease-out;
}
25% {
  transform: rotate(6deg);
  transform-origin: 50% 0;
  animation-timing-function: ease-in;
}
50% {
  transform: rotate(0);
  animation-timing-function: ease-out;
}
75% {
  transform: rotate(-3deg);
  transform-origin: 50% 0;
  animation-timing-function: ease-in;
}
100% {
	transform: rotate(0);
}
}
@keyframes FadeIn {
0% {
  opacity: 0;
}
100% {
	opacity: 1;
}
}
html {
	/*height: 100%;*/
}
body {
	width: 1280px;
  min-height: 720px;
  background-color: #000000;
  background-image: url("../img/bg_common_plate_stripe.webp");
  background-repeat: repeat;
  height: 100%;
  position: relative; /*FIXME: まずくないか確認する*/
}
.bgPattern {
  position: absolute;
  top: 60px;
  bottom: 0;
  width: 1280px;
  background-image: url("../img/bg_post_pattern_01.webp");
  background-repeat: repeat-y;
}
.shadow {
  width: 1280px;
  height: 720px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow:0px 0px 150px 120px rgba(0, 0, 0, 0.5) inset;
}
.disableTouch {
  width: 1280px;
  height: 720px;
  position: fixed;
  top: 0;
  left: 0;
}
header{
  display: flex;
  justify-content: space-between;
  padding: 20px 124px 0;
  height: 104px;
  opacity: 0;
}
.buttonL {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
}
.buttonR {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100;
}
.keyDown {
  animation: LRKeyDown .2s;
}
.inkDropWrapper {
  position: relative;
  height: 70px;
}
.drop {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 30px;
  top: 7px;
  z-index: 1;
}
.dropYellow {
  background: url("../img/bg_post_drop_yellow.webp") no-repeat;
}
.dropGreen {
  background: url("../img/bg_post_drop_green.webp") no-repeat;
}
.dropPurple {
  background: url("../img/bg_post_drop_purple.webp") no-repeat;
}
.dropFocus {
  animation: InkDrop .7s forwards;
}
.dropUnfocus {
  animation: InkDisappear .2s forwards;
}
.menuButton {
  width: 330px;
  height: 70px;
  color: #ffffff;
  text-shadow: 4px 2px 1px rgba(25,25,25,.5);
  background: url("../img/bg_common_arrow.webp") repeat;
  border-radius: 35px;
  text-align: center;
  line-height: 70px;
  font-size: 30px;
  /*font-family: "rowdy", "Splatoon1";*/
  position: relative;
  z-index: 2;
}
.menuButtonShadow {
  width: 330px;
  height: 70px;
  border-radius: 35px;
  box-shadow: 6px 6px 0 0 rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
}
.inkDropWrapper:first-of-type .menuButton {
  background: url("../img/bg_common_arrow_01.webp") repeat;
}
.mainContent {
  margin: 0 105px;
}
#howto {
  margin: 0 20px;
  opacity: 0;
}
.fadeIn {
  animation: FadeIn .5s .1s forwards;
}
.howtoWrapper {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.iconPlateWrapper {
  padding: 23px 30px 25px;
  width: 560px;
  height: 120px;
}
.iconPlate {
  width: 520px;
  height: 120px;
  color: #000000;
  background: url("../img/bg_common_plate_zigzag_gray.webp");
  border-radius: 30px;
  position: relative;
  margin-left: 40px;
}
.iconPlate img {
  position: absolute;
  top: -25px;
  left: -40px;
}
.swing {
  animation: SwingItemLeft .4s;
}
.iconPlate div {
  position: absolute;
	padding: 0 30px;
  left: 85px;
  font-size: 24px;
  line-height: 26px;
  /*font-family: "Splatoon2";*/
}
.iconPlate div span:not(.narrowFont) {
  display: table-cell;
	vertical-align: middle;
  height: 120px;
}
.iconPlate .narrowFont {
  display: inline-block;
  /*font-family: "kurokane";*/
  transform: scale(0.7, 1);
  transform-origin: left;
  margin-right: -7.2px;/*フォントサイズ24pxで70%長体だから、30%分詰める必要がある*/
}
.bgInkGreen {
  border-radius: 50px;
	margin: 20px 0 50px;
	color: #ffffff;
	padding: 35px 140px;
  text-align: center;
  position:relative;
  background-image:
    url("../img/bg_common_plate_ink_L.webp"),
    url("../img/bg_common_plate_ink_R.webp"),
    url("../img/bg_common_plate_zigzag_green.webp");
  background-repeat:
    no-repeat,
    no-repeat,
    repeat;
  background-position:
    left top,
    right bottom,
    left top;
}
.bgInkGreen h2 {
  /*font-family: "Splatoon2";*/
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 2px;
  text-shadow: 4px 2px 1px rgba(25,25,25,.5);
}
.bgInkGreen .narrowFont {
  display: inline-block;
  /*font-family: "kurokane";*/
  transform: scale(0.7, 1);
  transform-origin: left;
  margin-right: -12px;/*フォントサイズ40pxで70%長体だから、30%分詰める必要がある*/
}
.bgPlate {
	border-radius: 50px;
	margin: 50px 0;
	padding: 35px 0;
	position: relative;
  background-image: url("../img/bg_common_plate_zigzag_gray.webp");
	background-repeat: repeat;
}
.mainContent .bgPlate:first-child {
  margin: 20px 0 50px;
}
.bgPlate:last-child {
  margin: 50px 0 108px;
}
.bgPlate h2 {
	/*font-family: "Splatoon2";*/
	font-size: 40px;
	letter-spacing: 2px;
	line-height: 1.2;
  padding: 0 60px;
}
.bgPlate h2 .narrowFont {
  display: inline-block;
  /*font-family: "kurokane";*/
  transform: scale(0.7, 1);
  transform-origin: left;
  margin-right: -12px;/*フォントサイズ40pxで70%長体だから、30%分詰める必要がある*/
}
.bgPlate .colorGreen {
  color: #19d719;
}
.bgPlate .colorPurple {
  color: #a51ee1;
}
.bgPlate .dottedLine {
	width: 100%;
	background-image: url("../img/bg_post_dotted_line_gray.webp");
	background-repeat: repeat-x;
	height: 8px;
	margin: 15px 0 25px;
}
.description {
  /*font-family: "newrodinpro","NintendoExt003";*/
	font-size: 22px;
  color: #000000;
	line-height: 35px;
  padding: 0 60px;
}
.note {
	/*font-family: "newrodinpro","NintendoExt003";*/
	font-size: 22px;
  color: #000000;
	line-height: 35px;
  padding: 0 60px;
	display: flex;
	justify-content: flex-start;
}
.notification {
  width: 100%;
  margin-left: 2px;
}
.bgPlateInner {
  border-radius: 80px;
  margin: 20px 0;
  padding: 40px 0 50px;
  background-image: url("../img/bg_common_plate_zigzag_purple.webp");
  background-repeat: repeat;
  color: #ffffff;
}
.bgPlateInner .description {
  color: #ffffff;
  margin-top: 40px;
}

#backButton {
	position: fixed;
	top: 621px;
  z-index; 100;
}
