@charset "utf-8";
/* reset----------------------------------------------------------------------*/
body, div, th, td, p, ul, ol, dl, dt, dd, img, h1, h2, h3, h4, h5, h6,
footer, header, nav, section, span, figure {
	margin: 0;
	padding: 0;
	word-break: normal;
}
a {
	text-decoration: none;
}
/*------------------------------------------
    font
--------------------------------------------*/
@font-face {
  font-family: "Splatoon1";
  src: url("../font/Splatoon1.otf");
}
@font-face {
  font-family: "Splatoon2";
  src: url("../font/Splatoon2.otf");
}
@font-face {
  font-family: "newrodinpro";
  src: url("../font/nintendoP_NewRodin-B.ttf");
}
@font-face {
  font-family: "rowdy";
  src: url("../font/FOT-RowdyStd-EB.otf");
  unicode-range: U+4E00-9FFF;
}
@font-face {
  font-family: "kurokane";
  src: url("../font/FOT-KurokaneStd-EB.otf");
}
/*------------------------------------------
    animation
--------------------------------------------*/
@keyframes PostitWave {
60% {
	transform: skew(0,0);
}
80% {
	transform: skew(0.7deg,1.5deg);
}
100% {
	transform: skew(0,0);
}
}
@keyframes PostitScale {
0% {
  transform: scale(1.2,1.2) translate(-30px,0);
  opacity: 0;
}
30% {
  transform: scale(1.2,1.2) translate(-30px,0);
  opacity: 0;
}
100% {
	transform: scale(1.0,1.0) translate(0,0);
  opacity: 1 !important;
}
}
@keyframes StampScale {
0% {
  transform: scale(1.3,1.3) rotate(-5deg);
  opacity: 0;
}
60% {
  transform: scale(1.3,1.3) rotate(-5deg);
  opacity: 0;
}
100% {
	transform: scale(1.0,1.0) rotate(0);
  opacity: 1;
}
}

html {
	margin: 0;
}
body {
	margin: 0;
	width: 1280px;
	min-height: 720px;
	background-color: #189139;
  padding: 20px 0;
  background-image: url("../img/bg_coop_green.webp");
  background-repeat: repeat;
  overflow-x: hidden;
}
body#index {
  background-color: black;/*目次は遷移の都合で黒背景がいい*/
}
#main {
	padding: 15px 140px 60px 140px;
	background-image: url("../img/bg_coop_paperMiddle.webp");
	background-repeat: repeat-y;
  position: relative;
}
.header {
	background-image: url("../img/bg_coop_paperTop.webp");
	background-repeat: no-repeat;
	background-size: 1280px 33px;
	height: 33px;
}
.headerDetail {
	background-image: url("../img/bg_coop_paperTop_detail.webp");
	background-repeat: no-repeat;
	background-size: 1280px 103px;
	height: 103px;
  position: relative;
}
.pageNavi {
  background: url("../img/bg_coop_mask_gray.webp") repeat;
  font-family: "newrodinpro";
  font-size: 20px;
  line-height: 1.0;
  position: absolute;
  top: 40px;
  padding: 5px 10px;
}
.naviL {
  left: 100px;
}
.naviR {
  right: 100px;
}
.footer {
	background-image: url("../img/bg_coop_paperBottom.webp");
	background-repeat: no-repeat;
	background-size: 1280px 67px;
	height: 67px;
	position: relative;
}
.wrapperAll {
  width: 1280px;
  position: relative;
}
.topLogo {
  height: 90px;
}
.listHeader {
	text-align: left;
  font-family: 'newrodinpro';
	font-size: 24px;
  line-height: 1.0;
  padding-bottom: 20px;
  margin-top: 60px;
  background-image: url("../img/img_common_hr.webp");
	background-repeat: no-repeat;
	background-position: left bottom;
}
.listHeader:first-child {
  margin-top: 40px;
}
.linkList {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
	width: 1020px;
}
.salmon {
	position: relative;
	width: 320px;
	height: 300px;
  margin: 25px 16px 0 0;
	z-index: 2;
}
.event {
	position: relative;
	width: 460px;
	height: 385px;
  margin-top: 20px;
	z-index: 2;
}
.event:nth-child(2n) {
	margin-left: 50px;
}
.eventImg {
  width: 410px;
	height: 302px;
	margin: 70px 0 0 40px;
}
.salmon:nth-child(3n+1) {
	margin-left: 8px;
}
.imgMask {
  background: url("../img/bg_coop_mask_gray.webp") repeat;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
	z-index: -1;
}
.salmonMask {
	width: 320px;
  height: 300px;
}
.eventMask {
	width: 460px;
  height: 385px;
	z-index: -1; /* 写真の下 */
}
.marker {
  width: 0;/*アニメで拡張*/
  height: 28px;
  position: absolute;
  top: 11px;
  left: -6px;
	display: flex;
	justify-content: flex-start;
}
.marker2 {
  width: 0;/*アニメで拡張*/
  height: 28px;
  position: absolute;
  top: 40px;
  left: -6px;
	display: flex;
	justify-content: flex-start;
}
.markerColor {
	background-color: rgba(0, 255, 21, 0.59);
	flex: 1;
}
.markerImgFront {
	background: url("../img/bg_coop_highlight_green_front.webp") no-repeat;
	width: 15px;
	height: 28px;
	background-size: 15px 28px;
}
.markerImgBack {
	background: url("../img/bg_coop_highlight_green_back.webp") no-repeat;
	width: 12px;
	height: 28px;
	background-size: 12px 28px;
	background-position: -3px 0;
}
.salmonImg {
  width: 310px;
	height: 300px;
}
.salmonName {
	position: absolute;
  z-index: 2;
  font-family: 'newrodinpro';
  font-size: 20px;
  line-height: 28px;
  color: #000000;
	margin-top: 10px;
	padding: 0 10px 0 15px;
}
.salmonName span:last-child {
	margin-left: 10px;
}
.nameHeader {
	width: 70px;
}
.nameContent {
	width: 230px;
}

.detailContent {
}
.detailTitle {
  text-align: left;
  font-family: 'newrodinpro';
  font-size: 24px;
  line-height: 1.0;
  padding-bottom: 20px;
  margin-bottom: 50px;
  background-image: url("../img/img_common_hr.webp");
	background-repeat: no-repeat;
	background-position: left bottom;
}
.firstView {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 28px;
}
.detailSalmonImg {
  margin: -15px 0 0 10px;
  width: 380px;
  height: 326px;
}
.detailEventImg {
	margin-left: 10px;
  width: 410px;
	height: 302px;
}
.shortTextWrapper {
  text-align: left;
  font-family: 'newrodinpro';
  font-size: 20px;
  line-height: 1.4;
  margin: 0 60px 0 30px;
  width: 570px;
  min-height: 470px;
}
.longTextWrapper {
  text-align: left;
  font-family: 'newrodinpro';
  font-size: 20px;
  line-height: 1.4;
}
.description:not(:first-child) {
  margin-top: 28px;
}
.description ul {
  margin-left: 50px;
}

.tape {
	position: absolute;
	left: 1011px;
	background-image: url("../img/bg_coop_tape_02.webp");
	background-repeat: no-repeat;
	background-size: 208px 164px;
	width: 208px;
	height: 164px;
  z-index: 2;
}
.tapeTop {
  top: 470px;
}
.tapeBottom {
  bottom: 200px;
}
.sticker {
	position: absolute;
	top: 1480px;
	left: 1056px;
	background-image: url("../img/bg_coop_sticker_01.webp");
	background-repeat: no-repeat;
	background-size: 154px 200px;
	width: 154px;
	height: 200px;
  z-index: 2;
}
.clipFullGreenHalfOrange {
	position: absolute;
	top: 1000px;
	left: 1148px;
	background-image: url("../img/bg_coop_clip_fullgreen_halforange.webp");
	background-repeat: no-repeat;
	background-size: 104px 70px;
	width: 104px;
	height: 70px;
  z-index: 2;
}
.clipHalfGreenHalfOrange {
	position: absolute;
	top: 450px;
	left: 1218px;
	background-image: url("../img/bg_coop_clip_halfgreen_halforange.webp");
	background-repeat: no-repeat;
	background-size: 32px 72px;
	width: 32px;
	height: 72px;
}
.postitPurple {
	position: absolute;
	top: 132px;
	left: 1216px;
	background-image: url("../img/bg_coop_postit_purple_01.webp");
	background-repeat: no-repeat;
	background-size: 64px 76px;
	width: 64px;
	height: 76px;
}
.postitGreen {
	position: absolute;
	top: 60px;
	left: 1214px;
	background-image: url("../img/bg_coop_postit_green_02.webp");
	background-repeat: no-repeat;
	background-size: 64px 72px;
	width: 64px;
	height: 72px;
}
.postitGreenText {
	position: absolute;
	top: 42px;
	left: 1015px;
	background-image: url("../img/bg_coop_postit_green_03.webp");
	background-repeat: no-repeat;
	background-size: 250px 112px;
	width: 250px;
	height: 112px;
  z-index: 2;
}
.postitYellow {
	background-image: url("../img/bg_coop_postit_yellow.webp");
	background-repeat: no-repeat;
	background-size: 271px 90px;
	width: 271px;
	height: 90px;
  transform-origin: right center;
  animation: PostitWave 5s infinite;
  transition-timing-function: cubic-bezier(0,.5,.5,1);
}
.postitAnimWrapper {
  position: absolute;
  top: 415px;
  left: 25px;
}
.postitAnim {
  animation: PostitScale .8s;
}
.salmonStamp {
	position: absolute;
	top: 100px;
	left: 360px;
	background-image: url("../img/bg_coop_stamp.webp");
	background-repeat: no-repeat;
	background-size: 78px 87px;
	width: 78px;
	height: 87px;
}
.stampAnim {
  animation: StampScale .4s;
}
.icoFooter {
	position: absolute;
	top: 0;
	left: 130px;
	background-image: url("../img/bg_coop_footer_bear.webp");
	background-repeat: no-repeat;
	background-size: 144px 45px;
	width: 144px;
	height: 45px;
}
#backButton {
	position: fixed;
	top: 623px; /* 画面サイズ720 - 画像高さ99 + 2 */
	z-index: 99;
}
#backButton img {
	width: 122px;
}

.isHidden {
	display: none !important;
}
