@charset "utf-8";
/* reset----------------------------------------------------------------------*/
body, div, th, td, p, ul, ol, dl, dt, dd, img, h1, h2, h3, h4, h5, h6,
footer, header, nav, section, span, figure {
	margin: 0;
	padding: 0;
	word-break: normal;
}
a {
	text-decoration: none;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
/*------------------------------------------
    font
--------------------------------------------*/
@font-face {
  font-family: "Splatoon1";
  src: url("../font/Splatoon1.otf");
}
@font-face {
  font-family: "Splatoon2";
  src: url("../font/Splatoon2.otf");
}
@font-face {
  font-family: "rowdy";
  src: url("../font/FOT-RowdyStd-EB.otf");
  unicode-range: U+4E00-9FFF;
}
@font-face {
  font-family: "kurokane";
  src: url("../font/FOT-KurokaneStd-EB.otf");
}
/*------------------------------------------
    animation
--------------------------------------------*/
@keyframes ArrowAnim {
0% {
	height: 0;
}
100% {
	height: 175px;
}
}
@keyframes BtnPush {
80% {
	transform: translate3d(0,0,0);
}
85% {
	transform: translate3d(0,4px,0);
}
90% {
	transform: translate3d(0,0,0);
}
95% {
	transform: translate3d(0,4px,0);
}
100% {
	transform: translate3d(0,0,0);
}
}

html {
	margin: 0;
}
body {
	margin: 0;
	width: 1280px;
	height: 680px;/* 720-20*2 */
	background-color: black; /*ページ切り替え時用の背景色*/
	padding: 20px 0;
	background-image: url("../img/bg_coop_orange.webp");
	background-repeat: repeat-y;
}
#main {
	padding: 20px 114px 20px 108px;
	background-image: url("../img/bg_coop_paperMiddle.webp");
	background-repeat: repeat-y;
  position: relative;
}
.wrapperAll {
  width: 100%;
  position: relative;
}
.paperTop {
	background-image: url("../img/bg_coop_paperTop.webp");
	background-repeat: no-repeat;
	background-size: 1280px 33px;
	height: 33px;
}
.paperBottom {
	background-image: url("../img/bg_coop_paperBottom.webp");
	background-repeat: no-repeat;
	background-size: 1280px 67px;
	height: 67px;
	position: relative;
	margin-bottom: 16px;
}
#salmonLink {
	position: absolute;
  top: -6px;
  right: 25px;
  z-index: 2;
  height: 46px;
	font-size: 24px;
	color: white;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}
.salmonPic {
	position: absolute;
	top: -30px;
	left: 20px;
}
.linkTop {
	background: url("../img/bg_coop_pattern_gray_top.webp") no-repeat;
	width: 29px;
	height: 46px;
	background-size: 29px 46px;
	margin-right: 80px;
}
.btnWrapper {
	background: url("../img/bg_coop_pattern_gray.webp") repeat;
}
.linkText {
	background: url("../img/bg_coop_pattern_gray.webp") repeat;
	height: 46px;
	line-height: 46px;
	padding: 0px 20px 0 15px;
	font-family: "Splatoon2";
	display: flex;
	align-items: center;
}
.linkText .narrowFont {
  display: inline-block;
  font-family: "kurokane";
  transform: scale(0.7, 1);
  transform-origin: left;
  margin-right: -7.2px;/*フォントサイズ24pxで70%長体だから、30%分詰める必要がある*/
}
.btnA {
	margin-right: 6px;
  animation: BtnPush 3s infinite;
}
.pageHeader {
	margin-left: 8px;
}
.salmonButton {
  text-align: right;
  color: #ffffff;
  font-family: "Splatoon2";
  font-size: 24px;
}
.salmonButton .narrowFont {
  display: inline-block;
  font-family: "kurokane";
  transform: scale(0.7, 1);
  transform-origin: left;
  margin-right: -7.2px;/*フォントサイズ24pxで70%長体だから、30%分詰める必要がある*/
}
.title {
	width: 925px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 24px;
	font-weight: bold;
  line-height: 1.2;
	padding: 12px 0px 12px 5px;
	margin-bottom: 15px;
	background-image: url("../img/img_common_hr.webp");
	background-repeat: no-repeat;
	background-position: left bottom;
	margin-top: 47px;
}
.content {
	padding: 0 25px;
}
.header {
	text-align: left;
	font-size: 22px;
	width: 924px;
	padding: 0 20px;
}
.processWrapper {
	position: relative;
}
.arrowDownImg {
	position: absolute;
	top: 10px;
	left: 40px;
  width: 27px;
  height: 0;
  background: url("../img/bg_coop_arrow_down.webp") no-repeat;
  animation: ArrowAnim .5s .7s forwards;
}
.process {
  margin: 15px 0 30px 120px;
  font-size: 20px;
  line-height: 2.0;
}
.marker {
  background: linear-gradient(transparent 13%, rgba(233, 227, 0, 0.8) 13%);
}
.markerWrapper:before {
  content:" ";
  display:inline-block;
  width: 15px;
  height:28px;
  background: url("../img/bg_coop_highlight_yellow_front.webp") no-repeat;
  background-size:contain;
  vertical-align:middle;
}
.markerWrapper:after {
	content:" ";
  display:inline-block;
	width: 12px;
	height: 28px;
	background: url("../img/bg_coop_highlight_yellow_back.webp") no-repeat;
	background-size:contain;
  vertical-align:middle;
	background-position: -1 1px;
}
.caution {
  background: url("../img/bg_coop_mask_gray.webp") repeat;
  width: 880px;
  margin: 0 0 20px 10px;
  padding: 10px 20px;
}
.caution h2 {
  text-align: left;
	font-size: 24px;
	line-height: 1.5;
	padding-left: 5px;
}
.caution div {
  text-align: left;
	font-size: 20px;
	line-height: 1.5;
}
.tape {
	position: absolute;
  top: 2px;
	left: 56px;
	background-image: url("../img/bg_coop_tape_01.webp");
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	background-size: 180px 142px;
	width: 180px;
	height: 142px;
  z-index: 2;
}
.sticker {
	position: absolute;
	top: 350px;
	left: 1055px;
	background-image: url("../img/bg_coop_sticker_01.webp");
	background-repeat: no-repeat;
	background-size: 154px 200px;
	width: 154px;
	height: 200px;
  z-index: 2;
}
.postitOrange {
	position: absolute;
	top: 85px;
	left: 1218px;
	background-image: url("../img/bg_coop_postit_orange.webp");
	background-repeat: no-repeat;
	background-size: 64px 72px;
	width: 64px;
	height: 72px;
  z-index: 0;
}
.postitBlue {
	position: absolute;
	top: 150px;
	left: 1215px;
	background-image: url("../img/bg_coop_postit_blue.webp");
	background-repeat: no-repeat;
	background-size: 64px 76px;
	width: 64px;
	height: 76px;
}
.icoFooter {
	position: absolute;
	top: 0;
	left: 130px;
	background-image: url("../img/bg_coop_footer_bear.webp");
	background-repeat: no-repeat;
	background-size: 144px 45px;
	width: 144px;
	height: 45px;
}

#backButton {
	position: fixed;
	top: 623px; /* 画面サイズ720 - 画像高さ99 + 2 */
	z-index: 99;
}
#backButton img {
	width: 122px;
}
